@page
@model Online_books.Pages.LanguageCategory.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-2">
    <h2 class="text-info">Create New Category</h2>
    <hr />
    <form method="post">
        <div class="border p-5 mt-4">
            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="LanguageCategory.Name"></label>
                </div>
                <div class="col-10">
                    <input type="text" asp-for="LanguageCategory.Name" class="form-control" />
                </div>
            </div>

            <div class="row form-group offset-sm-2 mt-4">
                <div class="col-3">
                    <input type="submit" class="btn btn-primary form-control" value="Create Category" />
                </div>
                <div class="col-3">
                    <a asp-page="index" class="btn btn-success form-control" >Back to List</a>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>

        </div>
    </form>
</div>

