@page
@model Online_books.Pages.Book.CreateModel
@{
    ViewData["Title"] = "Create Book";
}



<div class="container mt-2">
    <h2 class="text-info">Create New Book</h2>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <div class="border p-5 mt-4">
            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="Book.Name"></label>
                </div>
                <div class="col-10">
                    <input type="text" asp-for="Book.Name" class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="Book.Auther"></label>
                </div>
                <div class="col-10">
                    <input type="text" asp-for="Book.Auther" class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="Book.Url"></label>
                </div>
                <div class="col-10">
                    <input type="file" name="PdfFile" class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="Book.LangCategoryId"></label>
                </div>
                <div class="col-10">
                    <select asp-for="Book.LangCategoryId" asp-items="Model.LangCategories" class="form-control"></select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="Book.CategoryId"></label>
                </div>
                <div class="col-10">
                    <select asp-for="Book.CategoryId" asp-items="Model.Categories" class="form-control"></select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="Book.ImgUrl"></label>
                </div>
                <div class="col-10">
                    <input type="file" name="ImgFile" class="form-control" />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-2">
                    <label asp-for="Book.Description"></label>
                </div>
                <div class="col-10">
                    <input type="text" asp-for="Book.Description" class="form-control" />
                </div>
            </div>

            <div class="row form-group offset-sm-2 mt-4">
                <div class="col-3">
                    <input type="submit" class="btn btn-primary form-control" value="Create Book" />
                </div>
                <div class="col-3">
                    <a asp-page="index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger">
            </div>

        </div>
    </form>
</div>
